<div align = "center">

  <p>Welcome to RESTful Restaurants!<font-size: 250%;></p>
  <h3>Please log in.</h3><br>

  <%= form_for @user, url: login_path, method: 'post' do |f| %>
    <div>
      <i class="material-icons prefix">account_circle</i>
      <%= f.text_field :username, style: 'width: 20%;', placeholder: "Enter Username" %>
    </div>
    <div>
      <i class="material-icons prefix">vpn_key</i>
      <%= f.password_field :password, style: 'width: 20%;', placeholder: "Enter Password" %>
    </div><br><br>
    <a class="waves-effect waves-light btn"><%= f.submit 'Log In'%><br></a>
  <% end %>

  <a class="waves-effect waves-light btn"><%= button_to "Sign Up", new_user_path, method: "get" %></a>

</div>
