<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

    </header>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
            </h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        x

    <div class="center">

      <h1>Create User</h1>

      <div class="input-field col6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.text_field :first_name, style: 'width: 20%;', placeholder: "Enter First Name" %>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">account_circle</i>
          <%= f.text_field :last_name, style: 'width: 20%;', placeholder: "Enter Last Name" %>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">account_box</i>
        <%= f.text_field :username, style: 'width: 20%;', placeholder: "Enter Username" %>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password, style: 'width: 20%;', placeholder: "Enter Password"%>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">lock_open</i>
        <%= f.password_field :confirm_password, style: 'width: 20%;', placeholder: "Confirm Password" %>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">email</i>
        <%= f.text_field :email, style: 'width: 20%;', placeholder: "Enter Email" %>
      </div>
      <div class="input-field col6">
        <i class="material-icons prefix">local_phone</i>
        <%= f.text_field :phone_number, style: 'width: 20%;', placeholder: "Enter Phone Number" %><br>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action"><%= f.submit %>
        <i class="material-icons right">send</i>
      </button>

    <% end %>
    </div>
  <br><br>

  </body>
</html>
