<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

      <div class="right-align">
        <a class="waves-effect waves-light btn"><%= button_to "Search", "/", :method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to @user.name.upcase, user_path(@user),:method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to "LOG OUT", logout_path, :method => :post%></a>
      </div>

    </header>

      <div class="center">
        <h1><%= @user.username %></h1>
        <h5>First Name: <%= @user.first_name %></h5>
        <h5>Last Name: <%= @user.last_name %></h5>
        <h5>Email: <%= @user.email %></h5>
        <h5>Phone Number: <%= @user.phone_number %></h5>
        <br>
        <div class="comment">
          <h4><%= @user.first_name %>'s Favorites: </h4>
          <% @user.favorites.each do |fav| %>
            <h5><%= link_to Restaurant.find(fav.restaurant_id).name, restaurant_path(fav.restaurant_id)%></h5>
          <%end %>
        </div>
      </div>

  </body>
</html>
