<div class="right-align">
  <a class="waves-effect waves-light btn"><%= button_to "Search", "/", :method => :get%></a>
  <a class="waves-effect waves-light btn"><%= button_to @user.name.upcase, user_path(@user),:method => :get%></a>
  <a class="waves-effect waves-light btn"><%= button_to "LOG OUT", logout_path, :method => :post%></a>
</div>

<p>Hi, <%= @user.name %>! <br>
Welcome to RESTful Restaurants!</p>

<%= form_tag 'restaurants/results', method: 'post' do %>
  <br>
  <%= label_tag :'search[term]', "Search Term" %><br>
  <%= text_field_tag :'search[term]' %><br>
  <%= label_tag :'search[location]', "Search Location" %><br>
  <%= text_field_tag :'search[location]' %><br><br>

  <%= submit_tag %>
<% end %>
