<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

      <div class="right-align">
        <a class="waves-effect waves-light btn"><%= button_to "Search", "/", :method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to @user.name.upcase, user_path(@user),:method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to "LOG OUT", logout_path, :method => :post%></a>
      </div>

    </header>

    <div align = "center">

      <h1>Restaurant List</h1><br>

      <% @restaurants.each do |restaurant| %>
        <ul>
          <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <ul>

        <img src = "<%= restaurant.image_url%>" height = 350 px, length = 350 px><br>

        <h4>Address: </h4>
        <h5><%= restaurant.address %></h5><br>

        <h4>Rating: </h4>
        <div class="star">
          <% restaurant.rating.round.times do %>
            <%= p "★" %>
          <% end %>
        </div>

        <br><br>

        </ul>
        </ul>
      <% end %>
    </div>

  </body>
</html>
