<h2>Restaurant Index</h2>

<% @restaurants.each do |restaurant| %>
  <ul>
  <label><strong>Name: </strong></label><br>
  <%= link_to restaurant.name, restaurant_path(restaurant) %><br><br>
  <ul>
  <label><strong>Address: </strong></label><br>
  <%= restaurant.address %><br><br>

  <label><strong>Rating: </strong></label><br>
  <%= restaurant.rating %><br><br>

  <label><strong>Image Url: </strong></label><br>
  <%= restaurant.img_url %><br><br>

  <label><strong>Longitude: </strong></label><br>
  <%= restaurant.longitude %><br><br>

  <label><strong>Latitude: </strong></label><br>
  <%= restaurant.latitude %><br><br>
  </ul>
  </ul>
<% end %>
