<h3>Restaurant New</h3>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :longitude %>
  <%= f.text_field :longitude %>

  <%= f.label :latitude %>
  <%= f.text_field :latitude %>

  <%= f.submit %>
<% end %>
