<h2>New Restaurant</h2>

<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:
        </h2>

        <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
  <strong><%= f.label :name, "Name:" %></strong><br>
  <%= f.text_field :name %><br>

  <strong><%= f.label :address, "Address:" %></strong><br>
  <%= f.text_field :address %><br>

  <strong><%= f.label :rating, "Rating:" %></strong><br>
  <%= f.text_field :rating %><br>

  <strong><%= f.label :img_url, "Image Url:" %></strong><br>
  <%= f.text_field :img_url %><br>

  <strong><%= f.label :longitude, "Longitude:" %></strong><br>
  <%= f.text_field :longitude %><br>

  <strong><%= f.label :latitude, "Latitude:" %></strong><br>
  <%= f.text_field :latitude %><br><br>

  <%= f.submit %>
<% end %>
