<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

      <div class="right-align">
        <a class="waves-effect waves-light btn"><%= button_to "Search", "/", :method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to @user.name.upcase, user_path(@user),:method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to "LOG OUT", logout_path, :method => :post%></a>
      </div>

    </header>

    <h1>Restaurant Results</h1>

    <% @new_array.each do |ele| %>

      <%= ele['id'] %>

      <label>Name: </label><br>
      <%= link_to ele['name'], restaurant_path(ele) %><br>

      <label>Address: </label>
      <%= ele['address'] %><br>

      <label>Rating: </label>
      <%= ele['rating'] %><br>

      <img src = "<%= ele['image_url']%>" height = 200 px, length = 200 px><br>

      <label>Url: </label>
      <%= link_to "Website Link", ele['url'] %><br>

      <label>Categories: </label>
      <%= ele['categories'] %><br>

      <label>Phone: </label>
      <%= ele['phone'] %><br>
    <br><br>

    <% end %>

  </body>
</html>
