<h2>Restaurant Show</h2>
<img src = "<%=@restaurant.img_url %>" height = 200 px, length = 200 px><br>

<label><strong>Name: </strong></label><br>
<%= @restaurant.name %><br><br>

<label><strong>Address: </strong></label><br>
<%= @restaurant.address %><br><br>

<label><strong>Rating: </strong></label><br>
<%= @restaurant.rating %><br>


<%= form_for @favorite do |f| %>
<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Add Restaurant To Your Favorites"%>
<% end %>


<center>

<label><strong>Comments: </strong></label>
<br>



<% @restaurant.comments.each do |comment| %>
<li> <%= link_to User.find(comment.user_id).first_name, user_path(comment.user_id)%> said: <%= comment.content %> </li><br>
<% end %><br><br><br>

</center>




<h3>New Comment</h3>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  Commenting as: <%= current_user.first_name %><br>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
