<h3>Restaurant Show</h3>

<label>Name: </label><br>
<%= @restaurant.name %><br><br>
<label>Address: </label><br>
<%= @restaurant.address %><br><br>
<label>Rating: </label><br>
<%= @restaurant.rating %><br><br>
<label>Img Url: </label><br>
<%= @restaurant.img_url %><br><br>
<label>Longitude: </label><br>
<%= @restaurant.longitude %><br><br>
<label>Latitude: </label><br>
<%= @restaurant.latitude %><br><br>
<label>Comments: </label>
<% @restaurant.comments.each do |comment| %>
<%= comment.content %><br>
<% end %>


<h3>New Comment</h3>

<%= form_for @comment do |f| %>
  <%= f.label :content, "Content:" %><br>
  <%= f.text_field :content %><br><br>
  <label>Select User: </label><br>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>
<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
 <br><br>

<br>
  <%= f.submit %>
<% end %>
