<h3>Restaurant Show</h3>

<label>Name: </label><br>
<%= @restaurant.name %><br><br>
<label>Address: </label><br>
<%= @restaurant.address %><br><br>
<label>Rating: </label><br>
<%= @restaurant.rating %><br><br>
<label>Img Url: </label><br>
<%= @restaurant.img_url %><br><br>
<label>Longitude: </label><br>
<%= @restaurant.longitude %><br><br>
<label>Latitude: </label><br>
<%= @restaurant.latitude %><br><br>
