<h2>Restaurant Show</h2>

<label><strong>Name: </strong></label><br>
<%= @restaurant.name %><br><br>

<label><strong>Address: </strong></label><br>
<%= @restaurant.address %><br><br>

<label><strong>Rating: </strong></label><br>
<%= @restaurant.rating %><br><br>

<label><strong>Img Url: </strong></label><br>
<%= @restaurant.img_url %><br><br>

<label><strong>Longitude: </strong></label><br>
<%= @restaurant.longitude %><br><br>

<label><strong>Latitude: </strong></label><br>
<%= @restaurant.latitude %><br><br>
<center>
<label><strong>Comments: </strong></label>
<br>


<% @restaurant.comments.each do |comment| %>
<li> <%= comment.content %> </li><br>
<% end %><br><br><br>

</center>




<h3>New Comment</h3>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  Commenting as: <%= current_user.first_name %><br>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.label :content, "Content:" %><br>
  <%= f.text_area :content %><br><br>

  <%= f.submit %>
<% end %>
