<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

      <div class="right-align">
        <a class="waves-effect waves-light btn"><%= button_to "Search", "/", :method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to @user.name.upcase, user_path(@user),:method => :get%></a>
        <a class="waves-effect waves-light btn"><%= button_to "LOG OUT", logout_path, :method => :post%></a>
      </div>

      <br>

      <div class="right-align">
        <%= form_for @favorite do |f| %>
          <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <a class="waves-effect waves-light btn"><%= f.submit "Add Restaurant To Your Favorites"%></a>
        <% end %>
      </div>

    </header>

    <div align="center">

      <h1><%= @restaurant.name %></h1>

      <img src = "<%= @restaurant.image_url %>" height = 400px, length: 400px><br><br>

      <h4>Address: </h4>
      <h5><%= @restaurant.address %></h5><br>

      <h4>Rating: </h4>
      <div class="star">
        <% @restaurant.rating.round.times do %>
          <%= p "★" %>
        <% end %>
      </div><br>

      <h4>Categories: </h4>
      <h5><%= @restaurant.categories %></h5><br>

      <h4>Phone: </h4>
      <h5><%= @restaurant.phone %></h5><br>

      <div class="comment">
        <u><strong>Comments:</strong></u>
        <% @restaurant.comments.each do |comment| %>
          <li> <strong><%= link_to User.find(comment.user_id).first_name, user_path(comment.user_id)%> says: </strong><%= comment.content %> </li>
        <% end %><br>

      </div>

      <br>
      <div class="comment">
        <u><strong>New Comment</strong></u>
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
          <strong>Commenting as: <%= @user.name %><br><strong>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.text_area :content %><br>
          <button class="btn waves-effect waves-light" type="submit" name="action"><%= f.submit %>
            <i class="material-icons right">send</i>
          </button>
        <% end %>
      </div>

    </div>
  </body>
</html>
