<h2>Restaurant Show</h2>

<label><strong>Name: </strong></label><br>
<%= @restaurant.name %><br><br>

<label><strong>Address: </strong></label><br>
<%= @restaurant.address %><br><br>

<label><strong>Rating: </strong></label><br>
<%= @restaurant.rating %><br><br>

<label><strong>Img Url: </strong></label><br>
<%= @restaurant.img_url %><br><br>

<label><strong>Longitude: </strong></label><br>
<%= @restaurant.longitude %><br><br>

<label><strong>Latitude: </strong></label><br>
<%= @restaurant.latitude %><br><br>

<label><strong>Comments: </strong></label>
<% @restaurant.comments.each do |comment| %>
<%= comment.content %><br>
<% end %><br><br><br>



<h3>New Comment</h3>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  <%= f.label :user, "Select User:" %><br>
  <%= f.collection_select :user_id, User.all, :id, :username %><br><br>
  <%= f.label :content, "Content:" %><br>
  <%= f.text_area :content %><br><br>

  <%= f.submit %>
<% end %>
